@model LibraryCMS.Models.MemberDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete the location @Model.FirstName @Model.LastName?</h2>
<div>
    <input type="submit" name="Delete Member" />
</div>

