@model LibraryCMS.Models.MemberDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete @Model.FirstName @Model.LastName?</h2>
<div>
    <form method="POST" action="/Member/Delete/@Model.MemberId">
        <input type="submit" name="🗑 Delete" value="Confirm Delete" />
    </form>



</div>

