@model LibraryCMS.Models.LocationDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete @Model.LocationName?</h2>
<div>
    <form method="POST" action="/Location/Delete/@Model.LocationId">
        <input type="submit" name="🗑 Delete" value="Confirm Delete" />
    </form>


</div>
