@model LibraryCMS.Models.LocationDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete the location @Model.LocationName?</h2>
<div>
    <input type="submit" name="Delete Location" />
</div>
