@model LibraryCMS.Models.LocationDto
@{
    ViewBag.Title = "Update";
}

<h2>Update Member</h2>
<form action="/Location/Update/@Model.LocationId" method="POST">
    <div style="display:none;">
        @* Passing through location id *@
        <input type="text" name="LocationId" value="@Model.LocationId" />
    </div>
    <div>
        <label>First Name</label><input type="text" name="LocationName" value="@Model.LocationName" />
    </div>
    <div>
        <label>Last Name</label><input type="text" name="Address" value="@Model.Address" />
    </div>
    <div>
        <label>Email</label><input type="email" name="PostalCode" value="@Model.PostalCode" />
    </div>
    <div>
        <input type="submit" name="Update Location" />
    </div>
</form>


