@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img style="width:60%; padding-bottom:30px;" src="~/Content/logo.png" />
    <p class="lead">A content management system to access books, library locations, and registered members. Find a book from any of our locations and see the members registered in each location.</p>
    <p><a href="https://github.com/a-hagar/LibraryCMS" class="btn btn-primary btn-lg">See code here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Members</h2>
        <p>Find all of our registered members here, along with contact information and preferred location.</p>
        <p><a class="btn btn-default" href="/Member/List">Member List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Locations</h2>
        <p>We have 10 locations across the Greater Toronto Area. Find the one nearest you and what we have available!</p>
        <p><a class="btn btn-default" href="/Location/List">Location List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Books</h2>
        <p>Our system has a lot of books, so check our database to see what we have available for readers.</p>
        <p><a class="btn btn-default" href="/Book/List">Book List &raquo;</a></p>
    </div>
</div>