@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Logo</h1>
    <p class="lead">A content management system to access books, library locations, and registered members</p>
    <p><a href=" " class="btn btn-primary btn-lg"> &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Members</h2>
        <p>
            Find
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Locations</h2>
        <p>We have 10 locations across the Greater Toronto Area.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Books</h2>
        <p>Find all the books registered in our system.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>