@model LibraryCMS.Models.BookDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete @Model.BookTitle?</h2>
<div>
    <form method="POST" action="/Book/Delete/@Model.BookId">
        <input type="submit" name="🗑 Delete" value="Confirm Delete" />
    </form>


</div>

