@model LibraryCMS.Models.BookDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete the book @Model.BookTitle?</h2>
<div>
    <input type="submit" name="Delete Book" />
</div>

